
{%- set compact = doc.flags.compact_item_print -%}
{%- set compact_fields = doc.flags.compact_item_fields -%}

<div>
    {% if doc.in_format_data("item_code") and not doc.is_print_hide("item_code") -%}
		<div class="primary">
			<strong>{{ _(doc.item_code) }}</strong>
		</div>
	{%- endif %}
    {% if (doc.in_format_data("item_name") and not doc.is_print_hide("item_name") and
		(not doc.in_format_data("item_code") or doc.is_print_hide("item_code")
			or doc.item_code != doc.item_name)) -%}
		<div class="primary"><strong>{{ doc.get_formatted("item_name", translated=True) }}</strong></div>
	{%- endif %}

    
</div>
